.forminp{
    width: 70%;
    height: 40px;
    border-radius: 50px;
    background-color: rgba(91, 94, 89, 0.341);
    display: flex;
    >*{
        display: flex;
        height: 100%;
       /* border: 1px solid red;*/
    }
    >i{
        width: 20%;
        align-items: center;
        justify-content: center;
        font-size: 20px;
    }
    >input{
        border: none;
        outline: none;
        width: 80%;
        background-color: transparent;
    }
}
.qazalicon{
   i{
    margin: 0 5px;
    &:hover{
        color: rgb(64, 177, 64);
    }
   }
}
.rowsec{
    background-image: url(../img/imgi_80_bg-transparent-3.png);
    background-size: auto;
    height: 50px;
    width: 100%;

    >h4{
        font-size: 20px;
        font-weight: normal;
    }
}
.slide{
    min-height: 100vh;
    background-image: url(../img/dog.jpg);
    background-size: cover;
    position: relative;
    &::before{
        content: '';
        position: absolute;
        display: flex;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.368);
        left: 0;top: 0;
    }
}
.fixed-box {
      position: fixed;
      bottom: 20px;
      right: 20px;
      display: flex;
      align-items: center;
      gap: 10px; /* فاصله بین دایره و آیکون‌ها */
    }

    .circle {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      overflow: hidden;
      border: 2px solid #333;
    }
    .circle img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .icons {
      display: flex;
      gap: 10px;
    }
    .icons a {
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #eee;
      border-radius: 50%;
      text-decoration: none;
      color: #333;
      font-size: 18px;
      transition: 0.3s;
    }
    .icons a:hover {
      background: #ccc;
    }
